.cards {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    max-width: 1140px;
    box-sizing: border-box;
}

.cards_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.cards_top_h2 {
    color: #ffffff;
    margin: 0 0 0 0;
    font-size: 2.4em;
}

.cards_top_p {
    color: #fff;
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
}

.cards_bottom {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -3em;
    justify-content: space-between;
}

.card {
    color: #fff;
    width: calc(33.333% - 2em);
    display: flex;
    background: #f5f5f52b;
    box-shadow: 0px 19px 30px -10px rgba(21, 21, 25, 0.21);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding: 1.6em 1.6em;
    border-color: rgb(231, 231, 231);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 3em;
    flex-direction: column;
}

.card_h3 {
    color: #ffffff;
    margin-top: 0;
    font-weight: 800;
    margin-bottom: 0.2em;
    background: linear-gradient(36deg, rgb(255 126 161) 0%, rgb(235 0 255) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_span {
    color: #ffffff;
    font-size: 0.95em;
    margin-bottom: 1.6em;
}

@media (max-width: 741px) {
    .card {
        padding: 0.6em 0.8em;
    }
}

@media (max-width: 665px) {
    .cards_bottom {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}