.navbar {
  z-index: 2;
  display: flex;
  padding-top: 15px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  max-width: 1140px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  padding: 10px 20px;
  z-index: 10;
  position: relative;
  flex-grow: 1;
  max-width: 700px;
  background-color: #f5f5f563;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 30px;
  flex-direction: row;
}

.nav_wrapper {
  color: #000;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo {
  margin: 0;
  margin-right: 20px;
  gap: 1;
  font-size: 16px;
}

.logo_link {
  display: flex;
  align-items: center;
  line-height: 0;
}

.logo_wrapper {
  scale: 1;
}

.logo_text {
  margin-left: 15px;
}

.nav_links {
  margin-right: auto;
  display: flex;
  padding: 0;
  font-size: 15px;
  list-style: none;
  align-items: center;
}

.nav_links_a {
  padding: 10px 10px;
  white-space: nowrap;
  cursor: pointer;
}

.nav_buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.btn_auth {
  border-radius: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: none;
  padding: 0.7em 0.8em;
  position: relative;
  background: rgb(0 0 0 / 62%);
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 24%);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav_buttons_login {
  font-size: 15px;
  margin-left: 10px;
}

.nav_buttons_signup {
  font-size: 15px;
  margin-left: 10px;
}

.logo_image {
  width: 65px;
}