.description {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    max-width: 1140px;
    box-sizing: border-box;
}

.wrapper {
    color: #ffffff;
    display: flex;
    box-sizing: border-box;
}

.description_left {
    margin: 3em;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.description_top_title {
    border: 1px solid #f1f3f5;
    border-radius: 10px;
    padding: 40px;
    background: #f5f5f52b;
}

.description_top_title_wrapper {
    font-size: 0.9em;
}

.description_top_title_h2 {
    color: #ffffff;
    margin: 0 0 0 0;
    font-size:2.5em;
}

.description_top_title_p {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
}

.description_top_btn {
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    padding: 0.7em 0.8em;
    position: relative;
    font-size: 14px;
    background: rgb(0 0 0 / 33%);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
}

.description_bottom {
    border: 1px solid #f1f3f5;
    display: flex;
    padding: 2em;
    box-sizing: border-box;
    margin-top: 2em;
    border-radius: 10px;
    flex-direction: column;
    background: #f5f5f52b;
}

.description_bottom_span {
    font-size: 0.95em;
    margin-bottom: auto;
}

.description_bottom_feedback {
    display: flex;
    margin-top: 1em;
    align-items: center;
}

.description_bottom_feedback_span {
    display: flex;
    flex-direction: column;
}

.description_right {
    width: calc(50% - 4em);
    margin: 3em 3em 3em 1em;
    overflow: hidden;
}